<div class="container">
    <div *ngIf="loading" class=" preloader-wrapper big active loader"style="margin-top:40px;margin-left:40%;">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>
<!-- start application screen -->
<section *ngIf="!loading" class="app-wrapper apply-fixed-button">
  <div class="fixed-top-block gradient-button-lr">
    <div class="container">
      <p class="pay-back valign-wrapper white-text"><i class="material-icons">arrow_back</i> Complete Your Payment</p>
    </div>
  </div>
  <div class="gradient-button-lr">
    <div class="container">
      <!-- Paying to block  -->
      <div class="row mb-0">
        <div class="col s12">
          <table class="custom-table cust-condenced-table transparent-bg remove-tr-border remove-border white-color-text mt-30 mb-15">
            <tbody>
            <tr>
              <td class="app-common-heading">Total Amount to be paid</td>
              <td class="app-common-heading right-align">
                {{proceed_to_pay.data.total_amount_text}}
              </td>
            </tr>
            <tr>
              <td class="app-common-text">Twid Balance</td>
              <td class="app-common-text right-align">{{proceed_to_pay.data.twid_balance_text}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="2">
                <p class="app-common-text center-align white-text text-uppercase">remaining amount to pay</p>
                <p class="app-extrasize-text center-align"> {{proceed_to_pay.data.remaining_amount_text}}</p>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="apply-promocode">
    <div class="container">
      <p class="appling-promocode relative">
        <!-- <i class="fa fa-percent"></i>  -->
        <span class="svg-icon">
                            <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.035 512.035" style="enable-background:new 0 0 512.035 512.035;" xml:space="preserve">
                                <style type="text/css">
                                    rect{fill:url(#MyGradient)}
                                </style>
                                <defs>
                                    <linearGradient id="MyGradient">
                                        <stop offset="5%" stop-color="#F60" />
                                        <stop offset="95%" stop-color="#FF6" />
                                    </linearGradient>
                                </defs>
                                <path style="fill:#F9B641;" d="M488.502,256.035l22.464-58.592c2.464-6.464,0.544-13.792-4.864-18.176l-48.704-39.488l-9.856-61.984  c-1.088-6.848-6.464-12.192-13.312-13.28l-61.984-9.856L332.79,5.923c-4.352-5.408-11.84-7.328-18.144-4.864l-58.624,22.496  L197.43,1.091c-6.496-2.496-13.76-0.512-18.144,4.864l-39.488,48.736l-61.984,9.856c-6.816,1.088-12.192,6.464-13.28,13.28  l-9.856,61.984L5.942,179.299c-5.376,4.352-7.328,11.68-4.864,18.144l22.464,58.592L1.078,314.627  c-2.496,6.464-0.512,13.792,4.864,18.144l48.736,39.456l9.856,61.984c1.088,6.848,6.432,12.224,13.28,13.312l61.984,9.856  l39.488,48.704c4.384,5.44,11.712,7.36,18.176,4.864l58.56-22.432l58.592,22.464c1.856,0.704,3.776,1.056,5.728,1.056  c4.704,0,9.344-2.08,12.448-5.952l39.456-48.704l61.984-9.856c6.848-1.088,12.224-6.464,13.312-13.312l9.856-61.984l48.704-39.456  c5.408-4.384,7.328-11.68,4.864-18.144L488.502,256.035z"/>
                                <g>
                                    <path style="fill:#FAFAFA;" d="M208.022,224.035c-26.464,0-48-21.536-48-48s21.536-48,48-48s48,21.536,48,48   S234.486,224.035,208.022,224.035z M208.022,160.035c-8.832,0-16,7.168-16,16s7.168,16,16,16s16-7.168,16-16   S216.854,160.035,208.022,160.035z"/>
                                    <path style="fill:#FAFAFA;" d="M304.022,384.035c-26.464,0-48-21.536-48-48s21.536-48,48-48s48,21.536,48,48   S330.486,384.035,304.022,384.035z M304.022,320.035c-8.8,0-16,7.2-16,16s7.2,16,16,16s16-7.2,16-16   S312.822,320.035,304.022,320.035z"/>
                                    <path style="fill:#FAFAFA;" d="M176.022,384.035c-3.232,0-6.464-0.96-9.28-2.976c-7.2-5.152-8.864-15.136-3.712-22.336l160-224   c5.152-7.2,15.136-8.864,22.336-3.712c7.2,5.12,8.832,15.136,3.712,22.304l-160,224   C185.91,381.699,181.014,384.035,176.022,384.035z"/>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                            </svg>
                        </span>
          <a [routerLink]="['/apply-promo-code']"><span class="bolder-text color-green ml-15">Apply Promocode</span></a>
        <span class="icon position-icon"><i class="fa fa-angle-right"></i></span>
      </p>
    </div>
  </div>
  <div class="transaction-desp">
    <div class="container">
      <p class="padlr-15 padtb-15 center-align app-common-text light-text black-text">Transactions on twid app are 100% secure</p>
      <p class="padlr-15 padtb-15 pt-0 center-align app-common-text light-text black-text">
        <img class="bit-map-img" src="../../../assets/img/bitmap.png" width="43px">
        <span class="marg-left color-green">256 bit encription</span>
      </p>
    </div>
  </div>
  <div class="custom-tabs">
    <div class="container">
      <mz-tab
        [fixedTabWidth]="'true'"
        [responsiveThreshold]="'true'"
        [swipeable]="'true'"
      >
        <mz-tab-item
          [active]="'true'"
          [label]="'Debit Card'"
        >
          <div id="debitCard" class="col s12">
            <div class="scroller-outer padlr-10">
              <div *ngIf="paymentOptionsData.data.debit_cards?.length > 0; else noDebitCards">
                <ul class="horizontal-slider marglrless-10">
                  <li class="padlr-10" *ngFor="let item of paymentOptionsData.data.debit_cards">
                    <div class="card own-card">
                      <label>
                        <!--<span class="path-icon left">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="15" viewBox="0 0 16 10">
                                <defs>
                                    <linearGradient id="a" x1="30.469%" x2="69.531%" y1="96.135%" y2="0%">
                                        <stop offset="0%" stop-color="#41BCF9"/>
                                        <stop offset="100%" stop-color="#499AF7"/>
                                    </linearGradient>
                                </defs>
                                <path fill="url(#a)" fill-rule="nonzero" d="M13-3v15.918L8 8.765 3 13V-3z" transform="rotate(-90 8 5)"/>
                            </svg>
                        </span>-->
                        <span class="checkbx right">
                            <input type="radio" class="filled-in" name="debit_card_type" value="{{item.bank_code}}" />
                            <span class="left-0"></span>
                        </span>
                        <div class="bank-info valign-wrapper">
                          <img class="left" src="{{item.brand_logo}}">
                          <div class="bank-name-details">
                            <p class="app-common-text black-text"> {{item.display_name}}</p>
                            <p class="app-common-sub card-no"> {{item.card_number}}</p>
                          </div>
                        </div>
                        <div class="offer-view">
                          <p class="valign-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 12 14">
                              <g fill="none" fill-rule="nonzero">
                                <path fill="#ED694A" d="M9.456 4.48c-.314-.32-.802-.75-1.01.221-.07.33-.235.585-.376.79-.153-.717-.61-1.459-1.043-1.959-.161-.187-.735-.931-.845-2.176-.016-.185-.254-.273-.402-.147-1.419 1.197-2.197 2.843-2.226 4.697 0 0-.59-.463-.912-1.324-.086-.232-.42-.276-.566-.071A2.04 2.04 0 0 0 2 4.628C.905 6.428.38 8.612.865 10.645c.814 3.404 6.197 4.356 9.047 2.216 2.789-2.093 1.902-5.99-.456-8.382z"/>
                                <g fill="#D8553A">
                                  <path d="M1.623 10.859C1.142 8.804 1.65 6.598 2.72 4.77a3.246 3.246 0 0 1-.078-.189c-.086-.232-.42-.276-.566-.07-.027.038-.053.078-.077.116C.905 6.428.38 8.612.865 10.645c.371 1.553 1.693 2.595 3.292 3.067-1.247-.562-2.224-1.525-2.534-2.853zM4.315 5.872c.06-1.682.714-3.19 1.885-4.35a4.596 4.596 0 0 1-.018-.164c-.016-.187-.245-.281-.393-.157a6.154 6.154 0 0 0-2.235 4.705l.256.185a.366.366 0 0 0 .418.004c.072-.057.083-.142.087-.223z"/>
                                </g>
                                <path fill="#F4A32C" d="M8.595 6.968c-.231-.236-.592-.553-.745.164a1.609 1.609 0 0 1-.278.583c-.113-.53-.451-1.077-.77-1.447-.12-.138-.543-.688-.625-1.607-.012-.137-.187-.202-.297-.109a4.542 4.542 0 0 0-1.644 3.47s-.436-.342-.673-.978c-.064-.172-.311-.204-.418-.053-.02.03-.04.058-.057.087-.808 1.329-1.197 2.942-.838 4.444.601 2.514 4.577 3.217 6.683 1.637 2.06-1.546 1.404-4.424-.338-6.191z"/>
                                <path fill="#E89528" d="M3 11.72c-.318-1.469.011-3.043.71-4.355a2.431 2.431 0 0 1-.147-.321c-.064-.172-.311-.204-.418-.053a1.5 1.5 0 0 0-.057.087c-.809 1.329-1.197 2.942-.838 4.444.28 1.17 1.29 1.947 2.501 2.285-.86-.402-1.539-1.107-1.751-2.088z"/>
                                <path fill="#F4D44E" d="M7.81 9.24c-.157-.16-.401-.375-.505.11a1.088 1.088 0 0 1-.188.395c-.076-.358-.306-.729-.521-.979-.081-.094-.368-.466-.423-1.088-.008-.093-.127-.136-.201-.074a3.074 3.074 0 0 0-1.113 2.35s-.296-.232-.456-.663c-.043-.116-.21-.138-.283-.035-.014.02-.027.039-.038.058-.548.9-.81 1.992-.568 3.008.407 1.703 3.099 2.178 4.524 1.109.488-.367.79-.883.852-1.454.092-.865-.266-1.911-1.08-2.737z"/>
                                <path fill="#EAE9E8" d="M7.08 11.348c-.087-.089-.222-.209-.28.062a.606.606 0 0 1-.105.22 1.33 1.33 0 0 0-.29-.546 1.088 1.088 0 0 1-.236-.606c-.005-.052-.07-.076-.112-.041a1.713 1.713 0 0 0-.62 1.308s-.165-.129-.254-.369c-.024-.064-.117-.076-.158-.02a.554.554 0 0 0-.021.033c-.305.502-.452 1.11-.316 1.676.309 1.292 2.84 1.253 2.995-.192.051-.482-.148-1.065-.602-1.525z"/>
                                <path fill="#F7E7A1" d="M5.275 13.322c-.135-.507.011-1.051.316-1.5a.509.509 0 0 1 .022-.029c.04-.05.133-.04.157.018.09.215.254.33.254.33a1.44 1.44 0 0 1 .426-1c-.06-.079-.246-.267-.281-.663-.005-.052-.07-.076-.112-.041a1.713 1.713 0 0 0-.62 1.308s-.165-.129-.254-.368c-.024-.065-.117-.077-.158-.02a.554.554 0 0 0-.021.032c-.305.502-.452 1.11-.316 1.676.125.525.64.84 1.21.917-.307-.14-.543-.363-.623-.66z"/>
                                <g fill="#D8553A">
                                  <path d="M3.9 1.86c.636-.48.635-1.38 0-1.86a1.146 1.146 0 0 0 0 1.86zM11.523 5.72c.636-.48.635-1.38 0-1.86-.29.22-.634 1.38 0 1.86zM.258 6.087a.826.826 0 0 0 0-1.341c-.21.158-.457.995 0 1.34zM8.197 3.202a.826.826 0 0 0 0-1.341.826.826 0 0 0 0 1.34z"/>
                                </g>
                                <path fill="#E89528" d="M4.82 7.802c.106-1.155.58-2.183 1.378-2.966a3.328 3.328 0 0 1-.02-.175c-.013-.137-.188-.201-.298-.109-.83.7-1.363 1.61-1.56 2.639a5.316 5.316 0 0 0-.043.274 4.868 4.868 0 0 0-.04.557c.021.004.523.244.584-.22z"/>
                                <g fill="#E8C842">
                                  <path d="M4.248 12.564c-.216-.95-.032-1.962.396-2.84a1.677 1.677 0 0 1-.24-.433c-.044-.116-.211-.138-.284-.036-.014.02-.027.04-.038.059-.548.9-.81 1.992-.568 3.008.191.798.883 1.326 1.71 1.552-.481-.297-.846-.738-.976-1.31zM5.64 9.538a3.277 3.277 0 0 1 .611-1.44 2.202 2.202 0 0 1-.078-.42c-.008-.093-.127-.136-.201-.074-.442.373-.76.834-.94 1.352a3.467 3.467 0 0 0-.093.322h.001c-.05.218-.077.443-.081.675.397.046.725-.045.78-.415z"/>
                                </g>
                              </g>
                            </svg>
                            <span class="app-common-heading orange-color ml-15">Get Upto 30% OFF</span>
                          </p>
                        </div>
                      </label>
                    </div>
                  </li>
                </ul>
              </div>
              <ng-template #noDebitCards>
                <ul class="horizontal-slider marglrless-10">
                  <li class="padlr-10">
                    <a href="#addCard" class="modal-trigger">
                      <div class="card own-card add-new-card">
                        <div class="icon-add">
                          <i class="material-icons">add_circle_outline</i>
                        </div>
                        <p class="add-card-here right-align">Add your dabit card</p>
                      </div>
                    </a>
                  </li>
                </ul>
              </ng-template>
            </div>
          </div>
        </mz-tab-item>
        <mz-tab-item [label]="'Credit Card'">
          <div id="creditCard" class="col s12">
            <div class="scroller-outer padlr-10">
              <div *ngIf="paymentOptionsData.data.credit_cards?.length > 0; else noCreditCards">
                <ul class="horizontal-slider marglrless-10">
                  <li class="padlr-10" *ngFor="let item of paymentOptionsData.data.debit_cards">
                    <div class="card own-card">
                      <label>
                        <!--<span class="path-icon left">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="15" viewBox="0 0 16 10">
                                <defs>
                                    <linearGradient id="a" x1="30.469%" x2="69.531%" y1="96.135%" y2="0%">
                                        <stop offset="0%" stop-color="#41BCF9"/>
                                        <stop offset="100%" stop-color="#499AF7"/>
                                    </linearGradient>
                                </defs>
                                <path fill="url(#a)" fill-rule="nonzero" d="M13-3v15.918L8 8.765 3 13V-3z" transform="rotate(-90 8 5)"/>
                            </svg>
                        </span>-->
                        <span class="checkbx right">
                            <label>
                                <input type="radio" class="filled-in" name="credit_card_type" value="{{item.bank_code}}" />
                                <span class="left-0"></span>
                            </label>
                        </span>
                        <div class="bank-info valign-wrapper">
                          <img class="left" src="{{item.brand_logo}}">
                          <div class="bank-name-details">
                            <p class="app-common-text black-text"> {{item.display_name}}</p>
                            <p class="app-common-sub card-no"> {{item.card_number}}</p>
                          </div>
                        </div>
                        <div class="offer-view">
                          <p class="valign-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 12 14">
                              <g fill="none" fill-rule="nonzero">
                                <path fill="#ED694A" d="M9.456 4.48c-.314-.32-.802-.75-1.01.221-.07.33-.235.585-.376.79-.153-.717-.61-1.459-1.043-1.959-.161-.187-.735-.931-.845-2.176-.016-.185-.254-.273-.402-.147-1.419 1.197-2.197 2.843-2.226 4.697 0 0-.59-.463-.912-1.324-.086-.232-.42-.276-.566-.071A2.04 2.04 0 0 0 2 4.628C.905 6.428.38 8.612.865 10.645c.814 3.404 6.197 4.356 9.047 2.216 2.789-2.093 1.902-5.99-.456-8.382z"/>
                                <g fill="#D8553A">
                                  <path d="M1.623 10.859C1.142 8.804 1.65 6.598 2.72 4.77a3.246 3.246 0 0 1-.078-.189c-.086-.232-.42-.276-.566-.07-.027.038-.053.078-.077.116C.905 6.428.38 8.612.865 10.645c.371 1.553 1.693 2.595 3.292 3.067-1.247-.562-2.224-1.525-2.534-2.853zM4.315 5.872c.06-1.682.714-3.19 1.885-4.35a4.596 4.596 0 0 1-.018-.164c-.016-.187-.245-.281-.393-.157a6.154 6.154 0 0 0-2.235 4.705l.256.185a.366.366 0 0 0 .418.004c.072-.057.083-.142.087-.223z"/>
                                </g>
                                <path fill="#F4A32C" d="M8.595 6.968c-.231-.236-.592-.553-.745.164a1.609 1.609 0 0 1-.278.583c-.113-.53-.451-1.077-.77-1.447-.12-.138-.543-.688-.625-1.607-.012-.137-.187-.202-.297-.109a4.542 4.542 0 0 0-1.644 3.47s-.436-.342-.673-.978c-.064-.172-.311-.204-.418-.053-.02.03-.04.058-.057.087-.808 1.329-1.197 2.942-.838 4.444.601 2.514 4.577 3.217 6.683 1.637 2.06-1.546 1.404-4.424-.338-6.191z"/>
                                <path fill="#E89528" d="M3 11.72c-.318-1.469.011-3.043.71-4.355a2.431 2.431 0 0 1-.147-.321c-.064-.172-.311-.204-.418-.053a1.5 1.5 0 0 0-.057.087c-.809 1.329-1.197 2.942-.838 4.444.28 1.17 1.29 1.947 2.501 2.285-.86-.402-1.539-1.107-1.751-2.088z"/>
                                <path fill="#F4D44E" d="M7.81 9.24c-.157-.16-.401-.375-.505.11a1.088 1.088 0 0 1-.188.395c-.076-.358-.306-.729-.521-.979-.081-.094-.368-.466-.423-1.088-.008-.093-.127-.136-.201-.074a3.074 3.074 0 0 0-1.113 2.35s-.296-.232-.456-.663c-.043-.116-.21-.138-.283-.035-.014.02-.027.039-.038.058-.548.9-.81 1.992-.568 3.008.407 1.703 3.099 2.178 4.524 1.109.488-.367.79-.883.852-1.454.092-.865-.266-1.911-1.08-2.737z"/>
                                <path fill="#EAE9E8" d="M7.08 11.348c-.087-.089-.222-.209-.28.062a.606.606 0 0 1-.105.22 1.33 1.33 0 0 0-.29-.546 1.088 1.088 0 0 1-.236-.606c-.005-.052-.07-.076-.112-.041a1.713 1.713 0 0 0-.62 1.308s-.165-.129-.254-.369c-.024-.064-.117-.076-.158-.02a.554.554 0 0 0-.021.033c-.305.502-.452 1.11-.316 1.676.309 1.292 2.84 1.253 2.995-.192.051-.482-.148-1.065-.602-1.525z"/>
                                <path fill="#F7E7A1" d="M5.275 13.322c-.135-.507.011-1.051.316-1.5a.509.509 0 0 1 .022-.029c.04-.05.133-.04.157.018.09.215.254.33.254.33a1.44 1.44 0 0 1 .426-1c-.06-.079-.246-.267-.281-.663-.005-.052-.07-.076-.112-.041a1.713 1.713 0 0 0-.62 1.308s-.165-.129-.254-.368c-.024-.065-.117-.077-.158-.02a.554.554 0 0 0-.021.032c-.305.502-.452 1.11-.316 1.676.125.525.64.84 1.21.917-.307-.14-.543-.363-.623-.66z"/>
                                <g fill="#D8553A">
                                  <path d="M3.9 1.86c.636-.48.635-1.38 0-1.86a1.146 1.146 0 0 0 0 1.86zM11.523 5.72c.636-.48.635-1.38 0-1.86-.29.22-.634 1.38 0 1.86zM.258 6.087a.826.826 0 0 0 0-1.341c-.21.158-.457.995 0 1.34zM8.197 3.202a.826.826 0 0 0 0-1.341.826.826 0 0 0 0 1.34z"/>
                                </g>
                                <path fill="#E89528" d="M4.82 7.802c.106-1.155.58-2.183 1.378-2.966a3.328 3.328 0 0 1-.02-.175c-.013-.137-.188-.201-.298-.109-.83.7-1.363 1.61-1.56 2.639a5.316 5.316 0 0 0-.043.274 4.868 4.868 0 0 0-.04.557c.021.004.523.244.584-.22z"/>
                                <g fill="#E8C842">
                                  <path d="M4.248 12.564c-.216-.95-.032-1.962.396-2.84a1.677 1.677 0 0 1-.24-.433c-.044-.116-.211-.138-.284-.036-.014.02-.027.04-.038.059-.548.9-.81 1.992-.568 3.008.191.798.883 1.326 1.71 1.552-.481-.297-.846-.738-.976-1.31zM5.64 9.538a3.277 3.277 0 0 1 .611-1.44 2.202 2.202 0 0 1-.078-.42c-.008-.093-.127-.136-.201-.074-.442.373-.76.834-.94 1.352a3.467 3.467 0 0 0-.093.322h.001c-.05.218-.077.443-.081.675.397.046.725-.045.78-.415z"/>
                                </g>
                              </g>
                            </svg>
                            <span class="app-common-heading orange-color ml-15">Get Upto 30% OFF</span>
                          </p>
                        </div>
                      </label>
                    </div>
                  </li>
                </ul>
              </div>
              <ng-template #noCreditCards>
                <ul class="horizontal-slider marglrless-10">
                  <li class="padlr-10">
                    <a href="#addCard" class="modal-trigger">
                      <div class="card own-card add-new-card">
                        <div class="icon-add">
                          <i class="material-icons">add_circle_outline</i>
                        </div>
                        <p class="add-card-here right-align">Add your first credit card</p>
                      </div>
                    </a>
                  </li>
                </ul>
              </ng-template>
            </div>
          </div>
        </mz-tab-item>
        <mz-tab-item [label]="'Net Banking'">
          <div id="netBanking" class="col s12">
            <div class="scroller-outer padlr-10">
              <div *ngIf="paymentOptionsData.data.netbanking?.length > 0; else noNetbankingRecords">
                <ul class="horizontal-slider marglrless-10">
                  <li class="padlr-10" *ngFor="let item of paymentOptionsData.data.netbanking">
                    <!--                    <a href="#addCVV" class="modal-trigger">-->
                    <div class="card own-card">
                      <label>
                        <span class="checkbx right">
  <!--                        <label>-->
                              <input type="radio" class="filled-in" name="netbanking_bank" value="{{item.bank_code}}" />
                            <span class="left-0"></span>
                          <!--                        </label>-->
                        </span>
                        <div class="bank-info valign-wrapper">
                          <img class="left" src="{{item.brand_logo}}">
                          <div class="bank-name-details">
                            <p class="app-common-text black-text">{{item.display_name}}</p>
                          </div>
                        </div>
                      </label>
                      <!--<div class="offer-view">
                        <p class="valign-wrapper">
                          <span class="app-common-heading orange-color ml-15">Get Upto 30% OFF</span>
                        </p>
                      </div>-->
                    </div>
                    <!--                    </a>-->
                  </li>
                </ul>
              </div>
              <ng-template #noNetbankingRecords>
                <ul class="horizontal-slider marglrless-10">
                  <li class="padlr-10">
                    <a href="#addCard" class="modal-trigger">
                      <div class="card own-card add-new-card">
                        <!--<div class="icon-add">
                          <i class="material-icons">add_circle_outline</i>
                        </div>-->
                        <p class="add-card-here right-align">There is no netbanking data</p>
                      </div>
                    </a>
                  </li>
                </ul>
              </ng-template>
            </div>
          </div>
        </mz-tab-item>
        <mz-tab-item [label]="'UPI / Bhim'">
          <div id="upiBhim" class="col s12">
            <div class="scroller-outer padlr-10">
              <div *ngIf="paymentOptionsData.data.upi?.length > 0; else noUPIRecords">
                <ul class="horizontal-slider marglrless-10">
                  <li class="padlr-10">
                    <a href="#addCVV" class="modal-trigger">
                      <div class="card own-card">
                                            <span class="path-icon left">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="15" viewBox="0 0 16 10">
                                                    <defs>
                                                        <linearGradient id="a" x1="30.469%" x2="69.531%" y1="96.135%" y2="0%">
                                                            <stop offset="0%" stop-color="#41BCF9"/>
                                                            <stop offset="100%" stop-color="#499AF7"/>
                                                        </linearGradient>
                                                    </defs>
                                                    <path fill="url(#a)" fill-rule="nonzero" d="M13-3v15.918L8 8.765 3 13V-3z" transform="rotate(-90 8 5)"/>
                                                </svg>
                                            </span>
                        <span class="checkbx right">
                                                <label>
                                                    <input type="radio" class="filled-in" checked="checked" />
                                                    <span class="left-0"></span>
                                                </label>
                                            </span>
                        <div class="bank-info valign-wrapper">
                          <img class="left" src="../../../assets/img/hdfc.png">
                          <div class="bank-name-details">
                            <p class="app-common-text black-text">Hdfc Debit Card</p>
                            <p class="app-common-sub card-no">XXXX-6754</p>
                          </div>
                        </div>
                        <div class="offer-view">
                          <p class="valign-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 12 14">
                              <g fill="none" fill-rule="nonzero">
                                <path fill="#ED694A" d="M9.456 4.48c-.314-.32-.802-.75-1.01.221-.07.33-.235.585-.376.79-.153-.717-.61-1.459-1.043-1.959-.161-.187-.735-.931-.845-2.176-.016-.185-.254-.273-.402-.147-1.419 1.197-2.197 2.843-2.226 4.697 0 0-.59-.463-.912-1.324-.086-.232-.42-.276-.566-.071A2.04 2.04 0 0 0 2 4.628C.905 6.428.38 8.612.865 10.645c.814 3.404 6.197 4.356 9.047 2.216 2.789-2.093 1.902-5.99-.456-8.382z"/>
                                <g fill="#D8553A">
                                  <path d="M1.623 10.859C1.142 8.804 1.65 6.598 2.72 4.77a3.246 3.246 0 0 1-.078-.189c-.086-.232-.42-.276-.566-.07-.027.038-.053.078-.077.116C.905 6.428.38 8.612.865 10.645c.371 1.553 1.693 2.595 3.292 3.067-1.247-.562-2.224-1.525-2.534-2.853zM4.315 5.872c.06-1.682.714-3.19 1.885-4.35a4.596 4.596 0 0 1-.018-.164c-.016-.187-.245-.281-.393-.157a6.154 6.154 0 0 0-2.235 4.705l.256.185a.366.366 0 0 0 .418.004c.072-.057.083-.142.087-.223z"/>
                                </g>
                                <path fill="#F4A32C" d="M8.595 6.968c-.231-.236-.592-.553-.745.164a1.609 1.609 0 0 1-.278.583c-.113-.53-.451-1.077-.77-1.447-.12-.138-.543-.688-.625-1.607-.012-.137-.187-.202-.297-.109a4.542 4.542 0 0 0-1.644 3.47s-.436-.342-.673-.978c-.064-.172-.311-.204-.418-.053-.02.03-.04.058-.057.087-.808 1.329-1.197 2.942-.838 4.444.601 2.514 4.577 3.217 6.683 1.637 2.06-1.546 1.404-4.424-.338-6.191z"/>
                                <path fill="#E89528" d="M3 11.72c-.318-1.469.011-3.043.71-4.355a2.431 2.431 0 0 1-.147-.321c-.064-.172-.311-.204-.418-.053a1.5 1.5 0 0 0-.057.087c-.809 1.329-1.197 2.942-.838 4.444.28 1.17 1.29 1.947 2.501 2.285-.86-.402-1.539-1.107-1.751-2.088z"/>
                                <path fill="#F4D44E" d="M7.81 9.24c-.157-.16-.401-.375-.505.11a1.088 1.088 0 0 1-.188.395c-.076-.358-.306-.729-.521-.979-.081-.094-.368-.466-.423-1.088-.008-.093-.127-.136-.201-.074a3.074 3.074 0 0 0-1.113 2.35s-.296-.232-.456-.663c-.043-.116-.21-.138-.283-.035-.014.02-.027.039-.038.058-.548.9-.81 1.992-.568 3.008.407 1.703 3.099 2.178 4.524 1.109.488-.367.79-.883.852-1.454.092-.865-.266-1.911-1.08-2.737z"/>
                                <path fill="#EAE9E8" d="M7.08 11.348c-.087-.089-.222-.209-.28.062a.606.606 0 0 1-.105.22 1.33 1.33 0 0 0-.29-.546 1.088 1.088 0 0 1-.236-.606c-.005-.052-.07-.076-.112-.041a1.713 1.713 0 0 0-.62 1.308s-.165-.129-.254-.369c-.024-.064-.117-.076-.158-.02a.554.554 0 0 0-.021.033c-.305.502-.452 1.11-.316 1.676.309 1.292 2.84 1.253 2.995-.192.051-.482-.148-1.065-.602-1.525z"/>
                                <path fill="#F7E7A1" d="M5.275 13.322c-.135-.507.011-1.051.316-1.5a.509.509 0 0 1 .022-.029c.04-.05.133-.04.157.018.09.215.254.33.254.33a1.44 1.44 0 0 1 .426-1c-.06-.079-.246-.267-.281-.663-.005-.052-.07-.076-.112-.041a1.713 1.713 0 0 0-.62 1.308s-.165-.129-.254-.368c-.024-.065-.117-.077-.158-.02a.554.554 0 0 0-.021.032c-.305.502-.452 1.11-.316 1.676.125.525.64.84 1.21.917-.307-.14-.543-.363-.623-.66z"/>
                                <g fill="#D8553A">
                                  <path d="M3.9 1.86c.636-.48.635-1.38 0-1.86a1.146 1.146 0 0 0 0 1.86zM11.523 5.72c.636-.48.635-1.38 0-1.86-.29.22-.634 1.38 0 1.86zM.258 6.087a.826.826 0 0 0 0-1.341c-.21.158-.457.995 0 1.34zM8.197 3.202a.826.826 0 0 0 0-1.341.826.826 0 0 0 0 1.34z"/>
                                </g>
                                <path fill="#E89528" d="M4.82 7.802c.106-1.155.58-2.183 1.378-2.966a3.328 3.328 0 0 1-.02-.175c-.013-.137-.188-.201-.298-.109-.83.7-1.363 1.61-1.56 2.639a5.316 5.316 0 0 0-.043.274 4.868 4.868 0 0 0-.04.557c.021.004.523.244.584-.22z"/>
                                <g fill="#E8C842">
                                  <path d="M4.248 12.564c-.216-.95-.032-1.962.396-2.84a1.677 1.677 0 0 1-.24-.433c-.044-.116-.211-.138-.284-.036-.014.02-.027.04-.038.059-.548.9-.81 1.992-.568 3.008.191.798.883 1.326 1.71 1.552-.481-.297-.846-.738-.976-1.31zM5.64 9.538a3.277 3.277 0 0 1 .611-1.44 2.202 2.202 0 0 1-.078-.42c-.008-.093-.127-.136-.201-.074-.442.373-.76.834-.94 1.352a3.467 3.467 0 0 0-.093.322h.001c-.05.218-.077.443-.081.675.397.046.725-.045.78-.415z"/>
                                </g>
                              </g>
                            </svg>
                            <span class="app-common-heading orange-color ml-15">Get Upto 30% OFF</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="padlr-10">
                    <a href="#addCVV" class="modal-trigger">
                      <div class="card own-card">
                                            <span class="path-icon left">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="15" viewBox="0 0 16 10">
                                                    <defs>
                                                        <linearGradient id="a" x1="30.469%" x2="69.531%" y1="96.135%" y2="0%">
                                                            <stop offset="0%" stop-color="#41BCF9"/>
                                                            <stop offset="100%" stop-color="#499AF7"/>
                                                        </linearGradient>
                                                    </defs>
                                                    <path fill="url(#a)" fill-rule="nonzero" d="M13-3v15.918L8 8.765 3 13V-3z" transform="rotate(-90 8 5)"/>
                                                </svg>
                                            </span>
                        <span class="checkbx right">
                                                <label>
                                                    <input type="radio" class="filled-in" />
                                                    <span class="left-0"></span>
                                                </label>
                                            </span>
                        <div class="bank-info valign-wrapper">
                          <img class="left" src="../../../assets/img/hdfc.png">
                          <div class="bank-name-details">
                            <p class="app-common-text black-text">Hdfc Debit Card</p>
                            <p class="app-common-sub card-no">XXXX-6754</p>
                          </div>
                        </div>
                        <div class="offer-view">
                          <p class="valign-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 12 14">
                              <g fill="none" fill-rule="nonzero">
                                <path fill="#ED694A" d="M9.456 4.48c-.314-.32-.802-.75-1.01.221-.07.33-.235.585-.376.79-.153-.717-.61-1.459-1.043-1.959-.161-.187-.735-.931-.845-2.176-.016-.185-.254-.273-.402-.147-1.419 1.197-2.197 2.843-2.226 4.697 0 0-.59-.463-.912-1.324-.086-.232-.42-.276-.566-.071A2.04 2.04 0 0 0 2 4.628C.905 6.428.38 8.612.865 10.645c.814 3.404 6.197 4.356 9.047 2.216 2.789-2.093 1.902-5.99-.456-8.382z"/>
                                <g fill="#D8553A">
                                  <path d="M1.623 10.859C1.142 8.804 1.65 6.598 2.72 4.77a3.246 3.246 0 0 1-.078-.189c-.086-.232-.42-.276-.566-.07-.027.038-.053.078-.077.116C.905 6.428.38 8.612.865 10.645c.371 1.553 1.693 2.595 3.292 3.067-1.247-.562-2.224-1.525-2.534-2.853zM4.315 5.872c.06-1.682.714-3.19 1.885-4.35a4.596 4.596 0 0 1-.018-.164c-.016-.187-.245-.281-.393-.157a6.154 6.154 0 0 0-2.235 4.705l.256.185a.366.366 0 0 0 .418.004c.072-.057.083-.142.087-.223z"/>
                                </g>
                                <path fill="#F4A32C" d="M8.595 6.968c-.231-.236-.592-.553-.745.164a1.609 1.609 0 0 1-.278.583c-.113-.53-.451-1.077-.77-1.447-.12-.138-.543-.688-.625-1.607-.012-.137-.187-.202-.297-.109a4.542 4.542 0 0 0-1.644 3.47s-.436-.342-.673-.978c-.064-.172-.311-.204-.418-.053-.02.03-.04.058-.057.087-.808 1.329-1.197 2.942-.838 4.444.601 2.514 4.577 3.217 6.683 1.637 2.06-1.546 1.404-4.424-.338-6.191z"/>
                                <path fill="#E89528" d="M3 11.72c-.318-1.469.011-3.043.71-4.355a2.431 2.431 0 0 1-.147-.321c-.064-.172-.311-.204-.418-.053a1.5 1.5 0 0 0-.057.087c-.809 1.329-1.197 2.942-.838 4.444.28 1.17 1.29 1.947 2.501 2.285-.86-.402-1.539-1.107-1.751-2.088z"/>
                                <path fill="#F4D44E" d="M7.81 9.24c-.157-.16-.401-.375-.505.11a1.088 1.088 0 0 1-.188.395c-.076-.358-.306-.729-.521-.979-.081-.094-.368-.466-.423-1.088-.008-.093-.127-.136-.201-.074a3.074 3.074 0 0 0-1.113 2.35s-.296-.232-.456-.663c-.043-.116-.21-.138-.283-.035-.014.02-.027.039-.038.058-.548.9-.81 1.992-.568 3.008.407 1.703 3.099 2.178 4.524 1.109.488-.367.79-.883.852-1.454.092-.865-.266-1.911-1.08-2.737z"/>
                                <path fill="#EAE9E8" d="M7.08 11.348c-.087-.089-.222-.209-.28.062a.606.606 0 0 1-.105.22 1.33 1.33 0 0 0-.29-.546 1.088 1.088 0 0 1-.236-.606c-.005-.052-.07-.076-.112-.041a1.713 1.713 0 0 0-.62 1.308s-.165-.129-.254-.369c-.024-.064-.117-.076-.158-.02a.554.554 0 0 0-.021.033c-.305.502-.452 1.11-.316 1.676.309 1.292 2.84 1.253 2.995-.192.051-.482-.148-1.065-.602-1.525z"/>
                                <path fill="#F7E7A1" d="M5.275 13.322c-.135-.507.011-1.051.316-1.5a.509.509 0 0 1 .022-.029c.04-.05.133-.04.157.018.09.215.254.33.254.33a1.44 1.44 0 0 1 .426-1c-.06-.079-.246-.267-.281-.663-.005-.052-.07-.076-.112-.041a1.713 1.713 0 0 0-.62 1.308s-.165-.129-.254-.368c-.024-.065-.117-.077-.158-.02a.554.554 0 0 0-.021.032c-.305.502-.452 1.11-.316 1.676.125.525.64.84 1.21.917-.307-.14-.543-.363-.623-.66z"/>
                                <g fill="#D8553A">
                                  <path d="M3.9 1.86c.636-.48.635-1.38 0-1.86a1.146 1.146 0 0 0 0 1.86zM11.523 5.72c.636-.48.635-1.38 0-1.86-.29.22-.634 1.38 0 1.86zM.258 6.087a.826.826 0 0 0 0-1.341c-.21.158-.457.995 0 1.34zM8.197 3.202a.826.826 0 0 0 0-1.341.826.826 0 0 0 0 1.34z"/>
                                </g>
                                <path fill="#E89528" d="M4.82 7.802c.106-1.155.58-2.183 1.378-2.966a3.328 3.328 0 0 1-.02-.175c-.013-.137-.188-.201-.298-.109-.83.7-1.363 1.61-1.56 2.639a5.316 5.316 0 0 0-.043.274 4.868 4.868 0 0 0-.04.557c.021.004.523.244.584-.22z"/>
                                <g fill="#E8C842">
                                  <path d="M4.248 12.564c-.216-.95-.032-1.962.396-2.84a1.677 1.677 0 0 1-.24-.433c-.044-.116-.211-.138-.284-.036-.014.02-.027.04-.038.059-.548.9-.81 1.992-.568 3.008.191.798.883 1.326 1.71 1.552-.481-.297-.846-.738-.976-1.31zM5.64 9.538a3.277 3.277 0 0 1 .611-1.44 2.202 2.202 0 0 1-.078-.42c-.008-.093-.127-.136-.201-.074-.442.373-.76.834-.94 1.352a3.467 3.467 0 0 0-.093.322h.001c-.05.218-.077.443-.081.675.397.046.725-.045.78-.415z"/>
                                </g>
                              </g>
                            </svg>
                            <span class="app-common-heading orange-color ml-15">Get Upto 30% OFF</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="padlr-10">
                    <a href="#addCard" class="modal-trigger">
                      <div class="card own-card add-new-card">
                        <div class="icon-add">
                          <i class="material-icons">add_circle_outline</i>
                        </div>
                        <p class="add-card-here right-align">Add your dabit card</p>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
              <ng-template #noUPIRecords>
                <ul class="horizontal-slider marglrless-10">
                  <li class="padlr-10">
                    <a href="#addCard" class="modal-trigger">
                      <div class="card own-card add-new-card">
                        <p class="add-card-here right-align">There is no UPI data</p>
                      </div>
                    </a>
                  </li>
                </ul>
              </ng-template>
            </div>
          </div>
        </mz-tab-item>
        <mz-tab-item [label]="'Wallet'">
          <div id="wallet" class="col s12">
            <div class="scroller-outer padlr-10">
              <div *ngIf="paymentOptionsData.data.wallet?.length > 0; else noWalletRecords">
                <ul class="horizontal-slider marglrless-10">
                  <li class="padlr-10" *ngFor="let item of paymentOptionsData.data.wallet">
                    <div class="card own-card">
                      <label>
                        <span class="checkbx right">
                            <input type="radio" class="filled-in" name="wallet_type" value="{{item.wallet_code}}" />
                            <span class="left-0"></span>
                        </span>
                        <div class="bank-info valign-wrapper">
                          <img class="left" src="{{item.brand_logo}}">
                          <div class="bank-name-details">
                            <p class="app-common-text black-text">{{item.display_name}}</p>
                            <!--                            <p class="app-common-sub card-no">XXXX-6754</p>-->
                          </div>
                        </div>
                        <!--<div class="offer-view">
                          <p class="valign-wrapper">
                            <span class="app-common-heading orange-color ml-15">Get Upto 30% OFF</span>
                          </p>
                        </div>-->
                      </label>
                    </div>
                  </li>
                </ul>
              </div>
              <ng-template #noWalletRecords>
                <ul class="horizontal-slider marglrless-10">
                  <li class="padlr-10">
                    <a href="#addCard" class="modal-trigger">
                      <div class="card own-card add-new-card">
                        <p class="add-card-here right-align">There is no wallet data</p>
                      </div>
                    </a>
                  </li>
                </ul>
              </ng-template>
            </div>
          </div>
        </mz-tab-item>
      </mz-tab>
    </div>
  </div>
  <div class="payment-options">
    <div class="container">
      <ul>
        <li>
          <a href="javascript:void(0);"><img src="../../../assets/img/visa_1.png"/></a>
        </li>
        <li>
          <a href="javascript:void(0);"><img src="../../../assets/img/americanex.png"/></a>
        </li>
        <li>
          <a href="javascript:void(0);"><img src="../../../assets/img/mastercard.png"/></a>
        </li>
        <!--<li>
          <a href="javascript:void(0);"><img src="../../../assets/img/visa_1.png"/></a>
        </li>-->
        <li>
          <a href="javascript:void(0);"><img src="../../../assets/img/rupey.png"/></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="swipping-button">
    <div class="container">
      <div id="button-background" class="gradient-button-lr">
        <span class="slide-text white-text">Swipe to pay</span>
        <div id="slider">
          <i class="material-icons rotate-apposite">keyboard_backspace</i>
        </div>
      </div>
    </div>
  </div>
</section>

<!--add your card Modal Structure -->
<div id="addCard" class="modal bottom-sheet">
  <div class="modal-content">
    <h4 class="app-common-text text-uppercase mb-15">Add debit card</h4>
    <div class="ct-form-add-card">
      <form class="form-container">
        <div class="row my-row">
          <div class="mb-15 col s12">
            <label for="cardnumber">Card Number</label>
            <div class="input-inline-view">
              <input id="cardnumber" tabindex="1" type="text" pattern="[0-9]*" inputmode="numeric" placeholder="XXXX" maxlength="4">
              <input id="cardnumber" tabindex="2" type="text" pattern="[0-9]*" inputmode="numeric" placeholder="XXXX" maxlength="4">
              <input id="cardnumber" tabindex="3" type="text" pattern="[0-9]*" inputmode="numeric" placeholder="XXXX" maxlength="4">
              <input id="cardnumber" tabindex="4" type="text" pattern="[0-9]*" inputmode="numeric" placeholder="XXXX" maxlength="4">
            </div>
          </div>
        </div>
        <div class="row my-row">
          <div class="mb-15 col s8">
            <label for="expirationdate" class="text-uppercase">Expiration (mm/yy)</label>
            <input id="expirationdate" type="text" pattern="[0-9]*" inputmode="numeric" placeholder="MM / YY" maxlength="4">
          </div>
          <div class="mb-15 col s4">
            <label for="securitycode" class="text-uppercase">CVV</label>
            <input id="securitycode" type="password" pattern="[0-9]*" inputmode="numeric" placeholder=". . ." maxlength="3">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="addCVV" class="modal bottom-sheet">
  <div class="modal-content">
    <h4 class="app-common-text text-uppercase mb-15">Add CVV</h4>
    <div class="ct-form-add-card">
      <form class="form-container">
        <div class="row my-row">
          <div class="mb-15 col s12">
            <label for="securitycode" class="text-uppercase">Enter CVV</label>
            <input id="securitycode" type="password" pattern="[0-9]*" inputmode="numeric" placeholder=". . ." maxlength="3">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
